*{
  margin: 0px;
  padding: 0px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.center{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.product{
  padding: 20px;
  margin: 10px;
}
.all{
  width: 100%;
}